.item {
  width: 100%;
  margin: 25px;
}

.item p {
  margin: 6px 0px;
  font-size: 20px;
}
.item-prices {
  display: flex;
  gap: 20px;
}

.item-price-new {
  color: purple;
  font-size: 18px;
  font-weight: 600;
}
.item-price-old {
  color: gray;
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
}
.item:hover {
  transform: scale(1.09);
  transition: all 0.6s ease-in-out;
}

.item img {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 250px !important;
  width: 250px; /* Adjust width as needed */
  height: auto; /* Maintains aspect ratio */
  object-fit: cover; /* Ensures image fills the box nicely */
  border-radius: 8px; /* Optional: adds rounded corners */
}
