.loginsignup {
  width: 100%;
  height: 80vh;
  background-color: #f5f5f5;
  padding-top: 100px;
}
.loginsignup-container {
  background-color: white;
  width: 560px;
  height: 450px;
  margin: auto;
  padding: 40px 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.loginsignup-container h1 {
  margin-bottom: 20px 0px;
}
.loginsignup-fields {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 30px;
}
