.category-banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}
p {
  font-size: 24px;
  color: #333;
  margin: 10px 0;
  font-weight: 600;
}
.shopcategory-indexsort p {
  display: flex;

  align-items: center;
  margin: 0px 20px;
  gap: 20px;
}

.shopcategory-sort {
  font-size: 22px;
  color: #333;
  margin-left: auto;
  font-weight: 600;
  border-radius: 40px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  width: 150px;
}
.shopcategory-products {
  margin: 5px 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 35px;
  object-fit: cover;
}
.shopcategory-loadmore button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 140px auto;
  width: 200px;
  height: 59px;
  border-radius: 75px;
  background: #ededed;
  color: #4b4848;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #544e4e;
  cursor: pointer;
}
.shopcategory-loadmore button:hover {
  background-color: #544e4ef1;
  color: white;
  border: 3px solid #ededed;
}
