.category-banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}
p {
  font-size: 24px;
  color: #333;
  margin: 10px 0;
  font-weight: 600;
}
.shopcategory-sort {
  font-size: 22px;
  color: #333;
  margin: 10px 0;
  font-weight: 600;
}
