.hero {
  height: 60vh;

  display: flex;
}
.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  line-height: 1.1;
}
.hero-left h2 {
  font-size: 40px;
  font-weight: 600;
}
.hero-left p {
  color: #171717;
  font-size: 36px;
  font-weight: 700;
}

.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero-hand-icon img {
  width: 105px;
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 180px;
  height: 36px;
  border-radius: 4px;
  margin-top: 30px;
  color: white;
  background-color: rgb(37, 31, 31);
  font-size: 16px;
  font-weight: 500;
}
.hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-right img {
  width: 600px; /* Set your desired width */
  height: 350px; /* Maintains aspect ratio */
  object-fit: cover; /* Or 'contain' for different fit */
  border-radius: 12px; /* Optional: rounded corners */
}
