.newsletter {
  width: 65%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 60px 140px;
  margin-bottom: 150px;
  background: linear-gradient(
    110.3deg,
    rgb(238, 179, 123) 8.7%,
    rgb(216, 103, 77) 47.5%,
    rgb(114, 43, 54) 89.1%
  );
}
.newsletter h1 {
  color: charcoal;
  font-size: 55px;
  font-weight: 600;
}
.newsletter p {
  color: charcoal;
  font-size: 22px;
}
.newsletter div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 650px;
  height: 70px;
  border-radius: 80px;
  border: 1px solid white;
}
.newsletter input {
  width: 300px;
  margin-left: 30px;

  border: none;
  outline: none;

  font-size: 20px;
  font-family: poppins;
  color: grey;
}
.newsletter div button {
  width: 150px;
  height: 50px;
  border-radius: 80px;

  color: white;
  background-color: rgb(37, 31, 31);
  font-size: 16px;

  cursor: pointer;
}
