.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.popular-item img {
  width: 350px;
  height: 200px;
}
.popular-item {
  margin-top: 50px;
  display: flex;
  overflow-x: auto;
  width: 100vw;
  max-width: 1200px;
  gap: 40px; /* Increase this value for more space between items */
  align-items: center;
}
.popular h1 {
  color: rgb(30, 29, 29);
  margin-top: 10px;
  font-size: 40px;
  font-weight: 600;
}

.popular hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: grey;
}
